
/*Tablets and unders  */
@media(max-width : 768px){
.grid,
.showcase .grid,
.stats .grid,
.cli .grid,
.cloud .grid,
.products-head .grid,
.contacts-main .grid{
    grid-template-columns: 1fr ;
}
.showcase{
    height: auto;
}
.showcase-text{
    text-align: center;
    margin: 40px;
    animation: slideInFromTop 1s ease-in;
}
.showcase-form{
    justify-self: center;
    margin: auto;
}

.cli .grid > *:first-child {
    grid-column: 1;
     grid-row: 1; 
}
.products-head,
.products-sub-head,
.contacts-main{
    text-align: center;
}
.products-head img,
.products-sub-head img,
.contacts-main img {
    justify-self:center;
}
}



/* Mobile Phones */
@media(max-width: 500px){
    .navbar{
        height: 110px;
    }
    .navbar .flex{
        flex-direction: column;
    }
    .navbar ul{
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .products-sub-head img{
        width: 100%;
    }
}

/* Animations */
@keyframes slideInFromLeft{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
    
}
@keyframes slideInFromRight{
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
    
}

@keyframes slideInFromTop{
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateX(0);
    }
    
}
@keyframes slideInFromBottom{
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
    
}



